#define RT_HTML  23
// htmls
	home.html 			RT_HTML "home.html"
//image files

	addusers.png			    RT_HTML     "addusers.png"		    
	back_f2.png				    RT_HTML     "back_f2.png"				    
	copy_f2.png				    RT_HTML	    "copy_f2.png"				    
	edit_f2.png				    RT_HTML     "edit_f2.png"			    
	emblem-documents.png	    RT_HTML     "emblem-documents.png"
	emblem-generic.png		    RT_HTML     "emblem-generic.png"	    
	emblem-note.png			    RT_HTML     "emblem-note.png"			    
	emblem-people.png		    RT_HTML     "emblem-people.png"		    
	emblem-plan.png			    RT_HTML     "emblem-plan.png"			    
	emblem-presentation.png	    RT_HTML     "emblem-presentation.png"
	emblem-sales.png		    RT_HTML     "emblem-sales.png"
	emblem-special.png		    RT_HTML     "emblem-special.png"
	emblem-windowmaker3.png	    RT_HTML     "emblem-windowmaker3.png"
	gnome-gsame.png			    RT_HTML     "gnome-gsame.png"
	langmanager.png			    RT_HTML     "langmanager.png"
	Multiple.png			    RT_HTML     "Multiple.png"
	new_f2.png				    RT_HTML     "new_f2.png"
	Package.png				    RT_HTML	    "Package.png"
	payslip.png					RT_HTML     "payslip.png"
	restore_f2.png				RT_HTML	    "restore_f2.png"
	stock_chart.png				RT_HTML     "stock_chart.png"
	stock_data-sources.png		RT_HTML     "stock_data-sources.png"
	stock_edit.png				RT_HTML     "stock_edit.png"
	stock_new-spreadsheet.png	RT_HTML     "stock_new-spreadsheet.png"
	stock_people.png			RT_HTML     "stock_people.png"
